*{
    font-family: 'IBM Plex Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #E5E5E5;
}
.container{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
h1{
    color: #224957;
    font-size: 2.2rem;
    margin: 0;
    text-shadow: 0px 3px 5px grey;
}
.form2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form2 h2{
    text-align: center;
    font-size: 1.01rem; 
}
#submit{
    font-size: 1rem;
    background-color: #44e285;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
#submit:hover{
    font-size: 1rem;
    background-color: #00ad48;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
form{
    display: flex;
    flex-flow: column;
}
form input{
    margin: 15px;
    border-radius: 10px;
    padding: 1rem;
    max-width: 50rem;
    width: 28rem;
    background-color: #224957;
    border: 0;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
form input::placeholder{
    color: white;
    font-size: 1rem;
}
#submitdel{
    font-size: 1rem;
    background-color: #f86868;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    padding: 10px;
}

#submitdel:hover{
    background-color: #ff0000;
}
/*media queries*/
@media (max-width: 768px){

    .container{
        display: flex;
        flex-flow: column;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .container h1{
        max-width: 15ch;

    }
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: -200px;
    }
    form label{
        text-align: center;
    }
    form input{
        max-width: 360px;
    }
    .form2{
        width: 360px;
    }
    form#1{
        max-width: 100%;
    }
}

@media (max-width: 1280px){
    .container{
        justify-content: flex-start;
        margin-top: 200px;
    }
}
